{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />    <meta name="author" content="INSPIRO" />    
	<meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="{% static 'css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Section -->
        <section class="fullscreen" data-bg-parallax="{% static 'images/pages/1.jpg' %}">
            <div class="container container-fullscreen">
                <div class="text-middle">
                    <div class="text-center m-b-30">
                        <a href="index.html" class="logo">
                            <img class="img-fluid" src="{% static 'images/logoBravoEnergy.png' %}">
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 center p-40 background-white b-r-6">
                            <form method="POST" action="" class="form-transparent-grey">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>Registrar cuenta</h3>
                                        <p>Crea una cuenta rellenando el siguiente formulario. Si ya tienes cuenta ve al siguente <a href="{% url 'login' %}">link</a></p>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label>Nombre de Usuario</label>
                                        {{form.username}}
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label>Email</label>
                                        {{form.email}}
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label>Nombre</label>
                                        {{form.first_name}}
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label>Apellido</label>
                                        {{form.last_name}}
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label>Contraseña</label>
                                        {{form.password1}}
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <label>Confirme contraseña</label>
                                        {{form.password2}}
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <button class="btn" type="submit">Registrar </button>
                                        <a href="{% url 'index' %}" type="button" class="btn btn-danger m-l-10">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!--Template functions-->
    <script src="{% static 'js/functions.js' %}"></script>
</body>

</html>