

<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="widget">
                        <div class="widget-title">Bravo Energy S.A.</div>
                        <p class="mb-5">
                            <br> 
                            Av. Las Industrias 3666, Santiago de Chile
                            <br>
                            <a href="tel:225943346"><i class="fa fa-phone"></i> +562 2594 3361</a>
                            <br>
                            <a href="tel:225943300">Central: +562 2594 3300</a>
                        </p>
                        <a href="{% url 'register' %}" class="btn btn-inverted" target="_blank">Registrate</a>
                        <a href="{% url 'contacto' %}" class="btn btn-inverted" target="_blank">Formulario Contacto</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Nosotros</div>
                                <ul class="list">
                                    <li><a href="#">Equipo</a></li>
                                    <li><a href="#">Misión/visión</a></li>
                                    <li><a href="#">Corpotativo</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Productos</div>
                                <ul class="list">
                                    <li><a href="#">Combustibles</a></li>
                                    <li><a href="#">Destinos final</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Sostenibilidad</div>
                                <ul class="list">
                                    <li><a href="#">Certificaciones</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Noticias</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <div class="widget-title">Soporte</div>
                                <ul class="list">
                                    <li><a href="#">Mesa de ayuda</a></li>
                                    <li><a href="#">Documentación</a></li>
                                    <li><a href="#">Contactanos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; Todos los derechos reservados. Copyright © 2020. Bravo Energy S.A.<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a> </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->