{% extends 'index/base.html' %}
{% load static %}

{% block title %}Bravo Energy Chile S.A.{% endblock %}

{% block content %}

<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
    <!-- Slide 1 -->
    <div class="slide kenburns" data-bg-image="{% static 'images/servicios/bravo.jpg' %}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <!-- Captions -->
                <h1>Gestion de Residuos</h1>
                <p>Expertos en revalorización energética de residuos industriales y transporte de residuos peligrosos y no peligrosos.</p>
                <div><a href="#welcome" class="btn scroll-to">Ver más</a></div>
                </span>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
</div>
<!--end: Inspiro Slider -->
<!-- WELCOME -->
<section id="welcome" class="p-b-0">
    <div class="container">
        <div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
            <h2>Bienvenid@ a la plataforma digital de Bravo Energy S.A.</h2>
            <span class="lead">Agenda servicios y visualiza los que ya tengas, de manera online.</span>
        </div>
        <div class="row" data-animate="fadeInUp">
            <div class="col-lg-12">
                <img style="margin-left: 300px;margin-right: 300px;" class="img-fluid" src="{% static 'images/camion.jpg' %}" alt="Welcome to POLO">
            </div>
        </div>
    </div>
</section>
<!-- end: WELCOME -->
<!-- WHAT WE DO -->
<section id="quehacemos" class="background-grey">
    <div class="container">
        <div class="heading-text heading-section">
            <h2>Que hacemos</h2>
            <span class="lead">Gestionamos residuos industriales promoviendo el concepto de economía circular</span>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="0">
                    <h4>Tecnología de punta</h4>
                    <p>Lorem ipsum dolor sit amet, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="200">
                    <h4>Equipo con experiencia</h4>
                    <p>Lorem ipsum dolor sit amet, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="400">
                    <h4>Acreditados</h4>
                    <p>Lorem ipsum dolor sit amet, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="600">
                    <h4>Responsables con el medioambiente</h4>
                    <p>Lorem ipsum dolor sit amet, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="800">
                    <h4>Medidas de seguridad</h4>
                    <p>Lorem ipsum dolor sit amet, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div data-animate="fadeInUp" data-animate-delay="1000">
                    <h4>Atención al cliente</h4>
                    <p>Lorem ipsum dolor sit amet, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci ut et lobortis aliquam.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END WHAT WE DO -->
<!-- SERVICES -->
<section id="servicios">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>Servicios</h2>
            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="0">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fas fa-recycle"></i></a>
                    </div>
                    <h3>Transformamos residuos en combustibles</h3>
                    <p>Producción y distribución de combustible, fabricados a partir de la transformación de residuos.
                    </p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="200">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fas fa-industry"></i></a>
                    </div>
                    <h3>Fabricación y venta de combustible</h3>
                    <p>Obtención de un combustible convencional denominado MDO (Marine Diesel Oil) mediante el proceso de refinación del Aceite Lubricante Usado (ALU). Además elaboramos combustibles alternativos líquidos y sólidos (éste último en desarrollo), cuya matriz se basa en el pre-tratamiento (homogenización) de residuos industriales.
                    </p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="400">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-truck-moving"></i></a>
                    </div>
                    <h3>Manejo, tratamiento y/o disposición final de residuos peligrosos y no peligrosos</h3>
                    <p>Incluye la coordinación, el retiro con transportista especializado, la disposición y/o revalorización, además de la certificación de que sus residuos han sido manejados con una empresa certificadda.
                    </p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="600">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="far fa-trash-alt"></i></a>
                    </div>
                    <h3>Destrucción de Descartes de Productos</h3>
                    <p>Destrucción de los residuos en forma inmediata, o bien se almacena en bodegas con control de acceso. Éste tipo de destrucción permite obtener beneficios tributarios ante el SII.
                    </p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="800">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-leaf"></i></a>
                    </div>
                    <h3>Servicio de Asesoría Medioambiental</h3>
                    <p>Le permitirá al generador de residuos tener la seguridad de actuar responsable y legalmente en la operación interna.
                    </p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="1000">
                <div class="icon-box effect medium border small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-clipboard-list"></i></a>
                    </div>
                    <h3>Red logística y DF en todo el país</h3>
                    <p>Lo que permite entregar un servicio integral de primera calidad en el manejo de residuos peligrosos y no peligrosos, constituyéndose en una empresa líder en su industria.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: SERVICES -->
<!-- COUNTERS -->
<section class="text-light p-t-150 p-b-150 " data-bg-parallax="images/parallax/12.jpg">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-user-alt"></i></div>
                    <div class="counter"> <span data-speed="3000" data-refresh-interval="50" data-to="200" data-from="0" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>COLABORADORES</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-thumbtack"></i></div>
                    <div class="counter"> <span data-speed="4500" data-refresh-interval="23" data-to="60" data-from="0" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>SERVICIOS ACTIVOS</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-check-square"></i></div>
                    <div class="counter"> <span data-speed="3000" data-refresh-interval="12" data-to="5000" data-from="1000" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>SERVICIOS TERMINADOS</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="text-center">
                    <div class="icon"><i class="fa fa-3x fa-smile-beam"></i></div>
                    <div class="counter"> <span data-speed="4550" data-refresh-interval="50" data-to="14825" data-from="48" data-seperator="true"></span> </div>
                    <div class="seperator seperator-small"></div>
                    <p>CLIENTES SATISFECHOS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: COUNTERS -->
<!-- CLIENTS -->
<section class="p-t-60">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>CLIENTES</h2>
            <span class="lead">Clientes con los que trabajamos hoy en día </span>
        </div>
        <div class="carousel client-logos" data-items="6" data-items-sm="4" data-items-xs="3" data-items-xxs="2" data-margin="20" data-arrows="false" data-autoplay="true" data-autoplay="3000" data-loop="true">
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/1.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/2.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/3.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/4.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/5.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/6.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/7.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/8.png' %}"> </a>
            </div>
            <div>
                <a href="#"><img alt="" src="{% static 'images/clients/9.png' %}"> </a>
            </div>
        </div>
    </div>
</section>
<!-- end: CLIENTS -->

{% endblock %}